Repository peter-haralabous/thrive-clinical: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-makemigrations, mypy, tsc, yarn-dedupe

.pre-commit-config.yaml:

exclude: '^devcontainer.json|.ambr$|__snapshots__'
default_stages: [pre-commit]
minimum_pre_commit_version: '3.2.0'

default_language_version:
  python: python3.13

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      #- id: check-json # tsconfig.json is not valid json, but that's ok
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-docstring-first
      - id: detect-private-key

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        args: ['--tab-width', '2', '--single-quote']
        exclude: 'sandwich/templates/'
        types_or: [css, javascript, json, ts, tsx, yaml]
        additional_dependencies:
          - prettier@3.7.1

  - repo: https://github.com/adamchainz/django-upgrade
    rev: '1.28.0'
    hooks:
      - id: django-upgrade

  # Run the Ruff linter (using the locally installed version)
  # copied from https://github.com/astral-sh/ruff-pre-commit/blob/main/.pre-commit-hooks.yaml
  - repo: local
    hooks:
      # Linter
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true
      # Formatter
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude
        language: system
        types_or: [python, pyi, jupyter]
        require_serial: true

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.4
    hooks:
      - id: djlint-reformat-django
        exclude: templates/email/
      - id: djlint-django
        exclude: templates/email/

  - repo: local
    hooks:
      - id: django-makemigrations
        name: 'makemigrations --check'
        entry: uv run manage.py makemigrations --check
        language: system
        types: [python]
        pass_filenames: false
      - id: mypy
        name: 'mypy'
        entry: uv run mypy .
        language: system
        types: [python]
        pass_filenames: false
      - id: tsc
        name: 'tsc'
        entry: sh -c 'yarn && yarn tsc'
        language: system
        types_or: [ts, tsx]
        pass_filenames: false
      - id: yarn-dedupe
        name: 'yarn dedupe'
        entry: yarn dedupe
        language: system
        files: yarn.lock
        pass_filenames: false

# sets up .pre-commit-ci.yaml to ensure pre-commit dependencies stay up to date
ci:
  autoupdate_schedule: weekly
  skip: []
  submodules: false

chore: stop prod deploys temporarily
  .github/workflows/cd.yml
Due: none

refactor: switch inline style for tailwind css equivalents
  sandwich/patients/forms/chat.py
Due: django-makemigrations, mypy

fix: document feed pushed health summary out of view
  sandwich/templates/patient/chatty/partials/right_panel.html
Due: none

fix: breadcrumb clickable area only covers icon and text
  sandwich/templates/provider/partials/encounter_details_content.html
  sandwich/templates/provider/patient_details.html
  sandwich/templates/provider/summary_detail.html
Due: none

fix: hide command palette on organization select screen
  sandwich/templates/provider/base.html
  sandwich/templates/provider/partials/topnav.html
Due: none

fix: handle Assign task validation errors in modal with htmx redirect
  sandwich/providers/forms/task.py
  sandwich/providers/views/patient.py
  sandwich/providers/views/patient_test.py
Due: django-makemigrations, mypy

fix: form builder renders
  sandwich/static/js/modules/form-builder.ts
Due: tsc

fix: address component only has one title
  sandwich/static/css/survey.css
  sandwich/static/js/components/forms/address-autocomplete.ts
  sandwich/static/js/survey.ts
Due: tsc

feat: register medication search component
  sandwich/static/js/components/forms/address-autocomplete.ts
  sandwich/static/js/components/forms/custom-components.ts
  sandwich/static/js/components/forms/medication-select.ts
Due: tsc

refactor: make print.ts more generic and reusable and remove print stylesheet until needed
  sandwich/providers/views/summary_test.py
  sandwich/static/css/print.css
  sandwich/static/js/print-summary.ts
  sandwich/static/js/print.ts
  sandwich/static/js/project.ts
  sandwich/templates/base_print.html
  sandwich/templates/provider/partials/summary_modal.html
  sandwich/templates/provider/summary_detail.html
  webpack/common.config.cjs
Due: django-makemigrations, mypy, tsc

feat: paginate lists on the encounter details page
  sandwich/providers/views/encounter.py
  sandwich/providers/views/encounter_test.py
  sandwich/templates/provider/partials/documents_and_forms_section.html
  sandwich/templates/provider/partials/encounter_details_content.html
  sandwich/templates/provider/partials/other_encounters_section.html
  sandwich/templates/provider/partials/summaries_section.html
Due: django-makemigrations, mypy

feat: update encounter modal functionality
  sandwich/templates/provider/partials/encounter_create_modal.html
Due: none

fix: medicationselect not rendering
  sandwich/static/js/components/forms/medication-select.ts
Due: tsc

fix: survey items want text not name
  sandwich/static/js/lib/medications-autocomplete.ts
Due: tsc

fix: minor fix to print summary detail print after refactor
  sandwich/templates/provider/partials/summary_content.html
  sandwich/templates/provider/summary_detail_print.html
Due: none

test: added test for using medications in summary
  sandwich/core/service/summary_service_test.py
Due: django-makemigrations, mypy

test: medication select stores complex medication info
  sandwich/static/js/components/forms/medication-select.test.ts
  sandwich/static/js/components/forms/medication-select.ts
Due: tsc

feat: store complex medication object as value
  sandwich/static/js/components/forms/medication-select.ts
  sandwich/static/js/lib/medications-autocomplete.ts
Due: tsc

test: fix e2e test to suport table format
  sandwich/providers/views/summary_test.py
Due: django-makemigrations, mypy

feat: format date attributes consistently
  sandwich/core/templatetags/list_helpers.py
Due: django-makemigrations, mypy

feat: only support exact and range date filters
  sandwich/core/service/custom_attribute_query.py
  sandwich/core/service/custom_attribute_query_test.py
  sandwich/core/validators/list_preference_validators.py
  sandwich/providers/views/list_filters.py
  sandwich/templates/provider/partials/filter_badge.html
  sandwich/templates/provider/partials/filter_date_control.html
Due: django-makemigrations, mypy

feat: Organization verification model
  sandwich/core/admin/__init__.py
  sandwich/core/admin/organization.py
  sandwich/core/admin/organization_verification.py
  sandwich/core/migrations/0092_remove_organization_verified_and_more.py
  sandwich/core/models/__init__.py
  sandwich/core/models/organization.py
  sandwich/core/models/organization_test.py
  sandwich/core/models/organization_verification.py
Due: django-makemigrations, mypy

feat: medication single select component
  sandwich/static/js/components/forms/custom-components.ts
  sandwich/static/js/components/forms/medication-select.test.ts
  sandwich/static/js/components/forms/medication-select.ts
  sandwich/static/js/lib/forms/medications-autocomplete.ts
Due: tsc

refactor: use ids for attachments instead of names
  sandwich/core/urls.py
  sandwich/core/views/attachment.py
  sandwich/core/views/attachment_test.py
  sandwich/static/js/lib/forms/file-upload.ts
  sandwich/templates/patient/form.html
Due: django-makemigrations, mypy, tsc

fix: attribute colour is still applied after canceled edit
  sandwich/providers/views/encounter.py
  sandwich/providers/views/encounter_test.py
Due: django-makemigrations, mypy

fix: move attribute chip html to template file
  sandwich/core/templatetags/attribute_chip.py
  sandwich/templates/component/attribute_chip.html
Due: django-makemigrations, mypy

fix: Style custom attribute chips better
  sandwich/core/templatetags/attribute_chip.py
  sandwich/templates/provider/partials/inline_edit_display.html
Due: django-makemigrations, mypy

feat: Use the custom attribute colour in worklist & encounter details
  sandwich/core/templatetags/attribute_chip.py
  sandwich/core/templatetags/list_helpers.py
  sandwich/providers/views/encounter.py
  sandwich/templates/provider/partials/encounter_row.html
  sandwich/templates/provider/partials/inline_edit_display.html
Due: django-makemigrations, mypy

fix: medications mutliselect value overriding bug
  sandwich/static/js/lib/forms/medications-autocomplete.ts
Due: tsc

feat: summaries save with file name as tempalate_name_date_time
  sandwich/static/js/print.ts
  sandwich/templates/provider/summary_detail_print.html
Due: tsc

Fix patient-details head structure: move tailwind config before CDN, add shared styles link
  patient-details/index copy.html
  patient-details/index.html
Due: none

chore: add global header, pre-commit config, setup/dev scripts, Makefile
  .pre-commit-config.yaml
  .prettierrc
  Makefile
  README.md
  dashboard/index.html
  index.html
  patient-details/index copy.html
  patient-details/index.html
  scheduling/index.html
  scripts/dev.sh
  scripts/setup.sh
  shared/navigation.js
  shared/styles.css
  shared/utils.js
Due: none

fix(patient-details): close missing divs to correct HTML structure
  patient-details/index.html
Due: none

ci: add html-validate workflow
  .github/workflows/html-lint.yml
Due: none

remove html validate
  .github/workflows/html-lint.yml
  .gitignore
Due: none

fix paths
  dashboard/index.html
  index.html
  patient-details/index.html
Due: none

removed box shadows
  index.html
  patient-details/index.html
  shared/styles.css
Due: none

fixed header
  index.html
  patient-details/index.html
  shared/styles.css
Due: none

fix paths
  index.html
Due: none
